<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shahab Ecommerce</title>
  {%include 'ecommercewebapp/css.html' %}
</head>
{% include 'ecommercewebapp/navbar.html' %}
<body>
{%block content%}
{% endblock content%}
{% include "ecommercewebapp/footer.html" %}
{% include "ecommercewebapp/scripts.html" %}
</body>

</html>
